name: 编译GecoosAC-魔改自用版

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 1. 准备环境
      run: |
        sudo apt update
        # 24.10 必须安装 zstd 解压工具
        sudo apt install -y build-essential libncurses5-dev gawk git gettext libssl-dev xsltproc rsync wget unzip python3 zstd

    - name: 2. 下载 SDK (ImmortalWrt 24.10)
      run: |
        # 下载适配 RAX3000M (Filogic) 的 SDK
        wget -q https://downloads.immortalwrt.org/releases/24.10.0/targets/mediatek/filogic/immortalwrt-sdk-24.10.0-mediatek-filogic_gcc-13.3.0_musl.Linux-x86_64.tar.zst
        tar -I zstd -xf immortalwrt-sdk-*.tar.zst
        rm -f immortalwrt-sdk-*.tar.zst
        mv immortalwrt-sdk-* sdk

    - name: 3. 下载你的魔改源码 (关键)
      run: |
        cd sdk
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        
        # 【重点】这里是克隆你刚才修改过 Makefile 的仓库
        git clone https://github.com/yaoting38/openwrt-gecoosac.git package/gecoosac

    - name: 4. 编译
      run: |
        cd sdk
        make defconfig
        
        # 强制选中核心、界面和兼容包
        echo "CONFIG_PACKAGE_gecoosac=y" >> .config
        echo "CONFIG_PACKAGE_luci-app-gecoosac=y" >> .config
        echo "CONFIG_PACKAGE_luci-compat=y" >> .config
        
        # 编译所有包 (V=s 开启日志，出错方便看)
        make package/compile V=s

    - name: 5. 上传成品
      uses: actions/upload-artifact@v4
      with:
        name: Gecoos-Final-Result
        # 只要生成了 ipk，不管是核心还是界面，全部打包
        path: sdk/bin/packages/**/*.ipk
